body{
    background-color: white;
}
.one{
    width: 30%;
    height: 100%;
    float: left;
}
.two{
    width: 70%;
    height: 100%;
    float: right;
}
.intro{
    background-color: black;
    color:white
}

h2{
    background-color: black;
    color: white;
}

b{
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
